@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav ms-auto">
    @{
        var username = HttpContextAccessor.HttpContext?.Session.GetString("Username");
        var role = HttpContextAccessor.HttpContext?.Session.GetString("Role");
    }
    @if (!string.IsNullOrEmpty(username))
    {
        <li class="nav-item">
            <span class="navbar-text text-dark me-2">
                Xin chào, @username (@role)
            </span>
        </li>
        @if (role == "Admin")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Order" asp-action="AdminIndex">Quản lý đơn hàng</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Order" asp-action="Index">Đơn hàng của tôi</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Đăng ký</a>
        </li>
    }
</ul>