@{
    ViewData["Title"] = "Giới thiệu";
}
<h1>Giới thiệu về Shop đồ công nghệ của Vinh</h1>

<p>Shop đồ công nghệ của Vinh chuyên cung cấp các sản phẩm công nghệ chính hãng với giá cả hợp lý. Chúng tôi cam kết mang đến trải nghiệm mua sắm tốt nhất cho khách hàng.</p>